name: Build ISO
on:
  workflow_dispatch: # Allows you to run this manually from the Actions tab
  schedule:
    - cron:  '0 0 * * 0' # Optional: Runs every Sunday at midnight

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  build-iso:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 512
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Generate ISO
        uses: blue-build/github-action@v1
        with:
          cli_version: latest
          recipe: 'recipe.yml'
          registry: 'ghcr.io/benjaminbabbagebackup-eng'
          # We provide these even if we aren't using them to stop the "missing key" error
          registry_token: ${{ secrets.GH_TOKEN }}
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          build_opts: "--cosign-key ./cosign.pub"
